{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Regulator Health Monitor</title>

    <!-- Bootstrap core CSS -->
    <link href={% static "rhm/css/vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'rhm/css/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'rhm/css/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Custom styles for this template -->
    <link href={% static "rhm/css/sidebar.css" %} rel="stylesheet" />
    <link href={% static "rhm/css/content.css" %} rel="stylesheet" />

    <!-- Bokeh Imports -->

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-2.3.0.min.js"></script> 
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.3.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="https://bernii.github.io/gauge.js/dist/gauge.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />


    <!-- JavaScript File Imports -->
    <script src="{% static 'rhm/js/circleDonutChart.js' %}"></script>
    <script src="{% static 'rhm/js/gauge.js' %}"></script>

    <meta charset="utf-8" />

  </head>

  <body>
    <div class="d-flex" id="wrapper">
      <!-- Sidebar -->
      <div class="border-right" id="sidebar-wrapper" style="background-color: #C9C9CF;">
        <div class="sidebar-heading">
          <img src="{% static 'rhm/images/spartan-1.png' %}", height="50px", width="50px">
          SpartanPRO<sup>TM</sub>
        </div>
        <div class="list-group list-group-flush">
          <div class="list-group-item list-group-item-action" style="background-color:#C9C9CF; font-weight: bold; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
            <div class="container">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" readonly>
                      Select Station</div>
                      <select class="form-control form-control-sm">
                        <option>Select</option>
                        <option>Station 1</option>
                        <option>Station 2</option>
                        <option>Station 3</option>
                        <option>Station 4</option>
                        <option>Station 5</option>
                        <option>Station 6</option>
                        <option>Station 7</option>
                        <option>Station 8</option>
                        <option>Station 9</option>
                        <option>Station 10</option>
                        <option>Station 11</option>
                        <option>Station 12</option>
                        <option>Station 13</option>
                        <option>Station 14</option>
                        <option>Station 15</option>
                        <option>Station 16</option>
                        <option>Station 17</option>
                        <option>Station 18</option>
                        <option>Station 19</option>
                        <option>Station 20</option>
                      </select>
                  </div>
                </div>
              </div>
              <!-- <div class="form-group">
                <div class="row">
                  <div class="col-sm">
                    <label for="exampleFormControlSelect1"
                      >Select Analysis Type</label
                    >
                    <select class="form-control form-control-sm">
                      <option>Select</option>
                      <option>Analyze Historical Data</option>
                      <option>Predict Future Failures</option>
                    </select>
                  </div>
                </div>
              </div> -->
              <div class="form-group">
                <div class="row">
                  <div class="col-sm">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Select Time Range
                    </div>
                    <p>
                      <!-- <label for="amount"></label> -->
                      <input type="text" id="amount" style="border: 0; color: grey; font-weight: bold; font-size: 12px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" size="25" />
                    </p>
                    <div class="row no-gutters align-items-center" id="slider-range"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="list-group-item list-group-item-action" style="background-color: #a6c8e0;">
            <div class="container">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm">
                    <ul class="nav nav-pills">
                      <li class="nav-item">
                        <a
                          class="nav-link active"
                          id="home-tab"
                          data-toggle="tab"
                          href="#home"
                          role="tab"
                          aria-controls="home"
                          aria-selected="true"
                          >Trend</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          id="profile-tab"
                          data-toggle="tab"
                          href="#profile"
                          role="tab"
                          aria-controls="profile"
                          aria-selected="false"
                          >Anomaly</a
                        >
                      </li>
                    </ul>
                    <div class="tab-content" id="myTabContent" style="text-align: justify;">
                      <div
                        class="tab-pane fade show active"
                        id="home"
                        role="tabpanel"
                        aria-labelledby="home-tab"
                      ><br><br><br>
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Individual Charts
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Flow Trend for Year 2020</a>
                          <a class="dropdown-item" href="#">Inlet Pressure Trend for Year 2020</a>
                          <a class="dropdown-item" href="#">Outlet Pressure Trend for Year 2020</a>
                        </div><br><br>
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Combination Charts
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Flow Trend Vs. Inlet Pressure Trend for Year 2020</a>
                          <a class="dropdown-item" href="#">Flow Trend Vs. Outlet Pressure Trend for Year 2020</a>
                          <a class="dropdown-item" href="#">Outlet Pressure Trend Vs. Inlet Pressure Trend for Year 2020</a>
                        </div>
                      </div>
                      </div>
                      <div
                        class="tab-pane fade"
                        id="profile"
                        role="tabpanel"
                        aria-labelledby="profile-tab"
                      ><br><br><br>
                        <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select Chart Type
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Flow V. Inlet Pressure for Year 2020</a>
                            <a class="dropdown-item" href="#">Inlet Pressure V. Outlet Pressure for Year 2020</a>
                            <a class="dropdown-item" href="#">Flow Vs. Outlet Pressure for Year 2020</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light border-bottom" style="background-color:#C9C9CF; height: 80px;">
          <div class="navbarheader" style="font-size: 1.3rem; font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Regulator Health Monitor</div>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <!-- <li class="nav-item active">
                <a class="nav-link" href="http://127.0.0.1:8000/" style="font-weight: bold;"
                  >Home <span class="sr-only">(current)</span></a
                >
              </li> -->
              <button type="button" class="btn btn-dark" onclick="location.href = 'http://127.0.0.1:8000/';">&nbsp;<i class="fa fa-map-marker"></i> &nbsp;&nbsp;&nbsp;View Maps&nbsp;</button>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  User Actions
                </a>
                <div
                  class="dropdown-menu dropdown-menu-right"
                  aria-labelledby="navbarDropdown"
                >
                  <a class="dropdown-item" href="#">Enter feedback</a>
                  <a class="dropdown-item" href="#">Contact Customer Support</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Login</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>


      <!-- /#page-content-wrapper -->
      <div class="container-fluid" style="background-color: #F0F0F0;">

        <div class="row">
            <!-- <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Earnings (Monthly)</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Select Station</div>
                                    <select class="form-control form-control-sm">
                                      <option>Select</option>
                                      <option>Station 1</option>
                                      <option>Station 2</option>
                                      <option>Station 3</option>
                                      <option>Station 4</option>
                                      <option>Station 5</option>
                                      <option>Station 6</option>
                                      <option>Station 7</option>
                                      <option>Station 8</option>
                                      <option>Station 9</option>
                                      <option>Station 10</option>
                                      <option>Station 11</option>
                                      <option>Station 12</option>
                                      <option>Station 13</option>
                                      <option>Station 14</option>
                                      <option>Station 15</option>
                                      <option>Station 16</option>
                                      <option>Station 17</option>
                                      <option>Station 18</option>
                                      <option>Station 19</option>
                                      <option>Station 20</option>
                                    </select>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Select Time Range
                                </div>
                                <p>
                                  <input type="text" id="amount" style="border: 0; color: grey; font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" size="30" />
                                </p>
                                <div class="row no-gutters align-items-center" id="slider-range"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Pending Requests</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        
        <!-- Content Row -->

        <div class="row" style="padding-top: 1rem;">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Trend Plots for 2020</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <!-- <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i> -->
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Swap Plots</div>
                                <a class="dropdown-item" href="#">Plot1</a>
                                <a class="dropdown-item" href="#">Plo2</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area">
                          {{ div_tp20 | safe }}
                          {{ script_tp20 | safe }}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Health Score</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <!-- <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i> -->
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Swap Plots</div>
                                <a class="dropdown-item" href="#">Plot1</a>
                                <a class="dropdown-item" href="#">Plo2</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                      <div id="HealthScore" style="padding-left: 5rem;">
                        <!-- {{ div_hs | safe }}
                        {{ script_hs | safe }} -->

                      </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Row -->
        <div class="row">

            <!-- Content Column -->
            <div class="col-lg-7 mb-4">

                <!-- Project Card Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Regulator Flow Data</h6>
                        <div class="dropdown no-arrow">
                          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <!-- <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i> -->
                          </a>
                          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                              aria-labelledby="dropdownMenuLink">
                              <div class="dropdown-header">Switch Plots</div>
                              <a class="dropdown-item" href="#" onClick="event.preventDefault();switchImage();">Switch to Regulator Flow</a>
                              <a class="dropdown-item" href="#" onClick="event.preventDefault();switchMYAxis();">Switch to Multi-Y-Axis Chart</a>
                          </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div id="ReluatorImage" style="display:none;">
                        <img src="{% static 'rhm/images/ReguloatorPicNew.png' %}", height="450px", width="880px", style="padding-top: 1rem; padding-bottom: 1rem;">
                      </div>
                      <div id="MultiYPlot">
                        {{ div_mlty | safe }}
                        {{ script_mlty | safe }}
                      </div> 
                      
                    </div>
                </div>

                

            </div>

            <div class="col-lg-5 mb-4">

                <!-- Illustrations -->
                <div class="card shadow mb-4" style="height: 550px; overflow: hidden;">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Capacity Vs. Outliers</h6>
                        <div class="dropdown no-arrow">
                          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <!-- <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i> -->
                          </a>
                          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                              aria-labelledby="dropdownMenuLink">
                              <div class="dropdown-header">Switch Plots</div>
                              <a class="dropdown-item" href="#" onClick="event.preventDefault();switchScatter();">Switch to Scatter Plot</a>
                              <a class="dropdown-item" href="#" onClick="event.preventDefault();switchCapacity();">Switch to Capacity</a>
                          </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div id="capacity" class="gauge-container"><h3 style="font-weight: bold; color: grey;">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;Capacity</h3></div>
                      <div id="ScatterPlot" style="display:none;">
                        {{ div_scp | safe }}
                        {{ script_scp | safe }}
                      </div> 
                      
                    </div>

                  </div>
              </div>

            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
    </div>
    <!-- /#wrapper -->



    <!-- Menu Toggle Script -->
    <script>
      $("ScatterPlot").hidden=true;

      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });

      var circle1 = new circleDonutChart('HealthScore');
      circle1.draw({end:68.3,start:0, maxValue:100, titlePosition:"outer-top", outerCircleColor:'#118DFF', innerCircleColor:'#F8F8F8', textColor:'#05C985', scaling:1.535});

      var myGauge = Gauge(document.getElementById("capacity"),{
                    dialRadius: 35,
                    dialStartAngle: 160,
                    dialEndAngle: 20,
                    value: 4750,
                    max: 5000,
                    min: 0,
                    valueDialClass: "value",
                    valueClass: "value-text",
                    dialClass: "dial",
                    gaugeClass: "gauge",
                    showValue: true,
                    gaugeColor: null,
                    label: function(val) {return Math.round(val);} // returns a string label that will be rendered in the center);  
                    });

      function switchCapacity(){
        if($('#ScatterPlot').css('display')!='none'){
          $("#capacity").show().siblings('div').hide();
        }

      }

      function switchScatter(){
        if($('#capacity').css('display')!='none'){
          $("#ScatterPlot").show().siblings('div').hide();
        }

      }

      function switchMYAxis(){
        if($('#ReluatorImage').css('display')!='none'){
          $("#MultiYPlot").show().siblings('div').hide();
        }

      }

      function switchImage(){
        if($('#MultiYPlot').css('display')!='none'){
          $("#ReluatorImage").show().siblings('div').hide();
        }

      }

      $(function () {
            $("#slider-range").slider({
                range: true,
                min: new Date('2020.01.01').getTime() / 1000,
                max: new Date('2020.09.30').getTime() / 1000,
                step: 86400,
                values: [new Date('2020.02.01').getTime() / 1000, new Date('2020.08.30').getTime() / 1000],
                slide: function (event, ui) {
                    $("#amount").val((new Date(ui.values[0] * 1000).toDateString()) + " - " + (new Date(ui.values[1] * 1000)).toDateString());
                }
            });
            $("#amount").val((new Date($("#slider-range").slider("values", 0) * 1000).toDateString()) +
                " - " + (new Date($("#slider-range").slider("values", 1) * 1000)).toDateString());
        });
        $("#slider-range").click(function(){
          alert("TO-DO: update all graphs!")
        });
    </script>
  </body>
</html>


        

